*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #E5E7EB;
    
  }
#header {
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;

}
.nav-item a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color:#1F2937;
    text-align: center;
    padding: 20px;
    width: 100%;
    gap: 20px;

}
.title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.paragrafo{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200;
}
.signup-button{
    background-color: #3B82F6;
    color: #F9FAF8;
    padding: 5px;
    width: 140px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
}
.section-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    
}
.image-placeholder{display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #8d8d8d;
    
}
.image-placeholder-text{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 200;
}

.section-right{
    flex: 1;
}
#sottotitolo-info{
    color: #1F2937;
    font-size: 26px;
    font-weight: 700;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 60%;
    height:100%;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.contenitore-quadrati{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 17%;
}
.sezione2-contenitore-quadrati-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
}
.sezione2-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
   
}
.sezione2-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #3B82F6;
    width: 140px;
    height: 140px;
    border-radius: 20px;
}
.text-image{
    color: #1F2937;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    display: inline;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height:100%;
    margin-top: 50px;
    background-color: #dadada;
}
.section3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px;
    height: 300px; 
}
.testimonial{
    color: #646464;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}
.author{
    color: #646464;
    font-size: 18px;
    font-weight: 800;
    text-align: end;
    display: flex;
    justify-items: end;
    justify-content: end;
    width: 100%;   
}
.section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    width: 70%;
    height:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:  #3B82F6; 
    border-radius: 10px;
}
.section4-container{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
    
}
.Signup-section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.title-section4 ,.description {
    color: white;
}
.Signup-section4 .signup-button{
    background-color: #3B82F6;
    color: #fdfdfd;
    padding: 5px;
    width: 135px;
    border-style: solid;
    border-width: 2px;
    border-color: #fdfdfd;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footer a{
    color: #3B82F6;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
